*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box; 
}

body {
    font-family: Arial, sans-serif;
    font-size: larger;
    font-weight: 300;
    background-color: #7e777454;
    color: #252525;
    line-height: 1.6;
}
p{
    margin-left: 0px;
}
header {
    background-color: #2c3e50;
    color: white;
    padding: 50px;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
}
header h1 {
    text-align: center;
    margin-bottom: 30px;
}
nav ul {
    list-style:NONE;
    display: flex;
    justify-content:center;
    gap: 20px;
}
nav a {
    color: white;
    text-decoration:none;
    font-weight: bold;
}
nav a:hover {
    color: #f10f35d0;
}
section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 38px;
    border-left: 8px solid rgb(123, 126, 120);
}

article {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
article h3 {
    color: #2980b9;
    margin-bottom: 10px;
}
article ul {
    margin-left: 20px;
}
aside {
    background-color: #ecf0f1;
    padding: 20px;
    margin: 20px;
    border-left: 5px solid #ff0404;
}
footer {
    background-color: #2c3e50;
    color: rgb(250, 246, 246);
    text-align:center;
    padding: 100px;
}


.content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.content p {
    flex: 1; 
}
.dw {
    width: 40%; 
    max-width: 150px;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: flex-start;
    }
    .dw {
        width: 100%;      
        max-width: 300px; 
        margin-top: 10px;
    }
}

.hightlight{
    color: #ff0404;
    transition: color 1s;
    font-size: 40px;
}
ol{
    list-style-position:inside ;
}
@media (max-width: 768px) {
    .content {
        flex-direction: row; 
        align-items: flex-start;
        overflow-x: auto;
        gap: 10px;
    }
    .dw {
        width: 150px;  
        height: auto;
        flex-shrink: 0; 
    }
}



